*{
    margin:0;
    padding: 0;
}
/* font */
@font-face{
    font-family: 'percentage';
    src:
            url('../font/percentage.eot?#font-spider') format('embedded-opentype'),
            url('../font/percentage.woff') format('woff'),
            url('../font/percentage.ttf') format('truetype'),
            url('../font/percentage.svg') format('svg');
}

.hidden{
    display: none;
}

/*loading*/
.loading{
    position: absolute;
    width: 640px;
    height: 1040px;
    background: url("../img/bg.jpg") no-repeat center center;
    font-family: 'percentage';
    font-size: 50px;
}
.load{
    position: absolute;
    display: block;
    width: 578px;
    height: 340px;
    left: 0;
    right: 0;
    margin: auto;
    top: 262px;
}
.loading .textAll{
    position: absolute;
    width: 240px;
    text-align: center;
    left:0;
    right: 0;
    margin:auto;
    top:340px;
}
.loading .textAll .text{
    font-size: 70px;
}
.loading .textAll .num{
    font-size: 60px;
}
.can1{
    width: 640px;
    height: 1038px;
    background: url(../img/bg.jpg) no-repeat center center;

}
.can1{

    position: absolute;
}

/*sequenceFrame*/
.can2{
    position: absolute;
    width: 1040px;
    height: 640px;


}
#canvas2{
    display: block;
    width: 640px;
    height: 320px;
    /*transform: rotate(-90deg);*/

}
#canvas1{
    position: absolute;
    display: block;
    width: 578px;
    height: 340px;
    left: 0;
    right: 0;
    margin: auto;
    top: 262px;
}
