*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
@font-face{
    font-family: 'font1';
    src:url("../font.TTC")
}
.all{
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../img/bg.png") no-repeat center;
    background-size: cover;
    section{
        width: 640px;
        height: 1040px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url('../img/content.png') no-repeat center;
        background-size: 100% 100%;
    }
    .ewm{
        width: 376px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 260px;
    }
}
p{
    font-family: 'font1';
    width: 640px;
    position: absolute;
    top: 740px;
    text-align: center;
    color: #ffd38c;
    font-size: 48px;
}