body{
    background: url(../images/sign_bg.png) no-repeat center center;
    background-size: 100% 100%;
}
.box{
    margin-top: 5%;
    width: 25%;
    height: 65%;
}
.left{
    margin-left: 15%;
    float: left;
}
.right{
    margin-right: 15%;
    float: right;
}
.user_photo{
    display: inline-block;
    margin: 1%;
    width: 17%;
    height: 17%;
    background: #fff;
}
.user_photo img{
    width: 90%;
    height: 90%;
    margin: 5% auto 0;
}