*{
    margin:0;
    padding:0;
}
.all{
    width: 640px;
    height: 1038px;
    background: url("../images/share.png") no-repeat center center;
    position: relative;
}
#canvas{
    width:410px;
    height: 350px;
    overflow: hidden;
    position: absolute;
    top:270px;
    left: 0;
    right: 0;
    margin:auto;
    background-color: rosybrown;
}

.all .text{
    width: 640px;
    position: absolute;
    top:620px;
    text-align: center;
}
.all .text p{
    font-size: 28px;
    line-height: 50px;
    color:#323333;
    font-weight:500;
    font-family: "楷体";
}