.bgy{
    width: 640px;
    height: 1040px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
}
form{
    position: absolute;
    width: 400px;
    left:0;
    right: 0;
    margin:auto;
    top:300px;
    text-align: center;
}
.info_text, .info_phone{
    margin-bottom: 100px;
    width: 400px;
    border: none;
    height: 80px;
    line-height: 80px;
    border:4px solid #102c4f;
    font-size: 40px;
    color: #102c4f;
    box-sizing: border-box;
}
label img{
    margin-left: 80px;
    margin-top: 60px;
}
.popup{
    position: absolute;
    z-index: 100;
    left:0;
    right: 0;
    margin:auto;
    width: 404px;
    height: 510px;
    background: url("../img/popup.png") no-repeat center;
    background-size: cover;
    top:340px;
}
.btn_cancel{
    position: absolute;
    right: -22px;
    top:-20px;
}
.hidden{
    display: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #102c4f;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #102c4f;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #102c4f;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #102c4f;
}