<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中远恒信</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
      <div class="container-fluid">
        <div class="container">
            <div class="page-header text-center title">
                <img src="images/text.png" alt="">
            </div>
        </div>
        <img src="images/line.png" style="width:104%;position:relative;left:-2%;" alt="">
        <div class="container">
            <div class="content">
                <ul class="ulCon">
                    <li class="row">
                        <div class="col-md-1" style="text-align:right">
                            <h2>Q1:</h2>
                        </div>
                        <div class="col-xs-9">
                            <h3>唉，总是在越忙的时候事情越多。。。我的神曲你在哪里呀~~~</h2>
                        </div>
                        <div class="col-xs-2" style="padding-left:5%">
                            <div class="row" style="">
                                <h3>
                                    <img src="images/heart.png" alt=""> 
                                    <span>320</span>
                                </h3>
                            </div>
                        </div>
                    </li> 
                    <li class="row">
                        <div class="col-md-1" style="text-align:right">
                            <h2>Q2:</h2>
                        </div>
                        <div class="col-xs-9">
                            <h3>中远恒信又一目标发布：融钰集团并购中远恒信升级科技金融生态体系</h2>
                        </div>
                        <div class="col-xs-2" style="padding-left:5%">
                            <div class="row" style="">
                                <h3>
                                    <img src="images/heart.png" alt=""> 
                                    <span>258</span>
                                </h3>
                            </div>
                        </div>
                    </li>   
                    <li class="row">
                        <div class="col-md-1" style="text-align:right">
                            <h2>Q3:</h2>
                        </div>
                        <div class="col-xs-9">
                            <h3>其秉承着“科技提升金融效率”的理念，集团专注于机电设备、生活消费、文化教育、贸易流通、交通物流、大健康等行业，致力于利用大数据等高科技技术，为产业领域中的企业和个人提供标准化、差异化、综合性金融解决方案。</h2>
                        </div>
                        <div class="col-xs-2" style="padding-left:5%" >
                            <div class="row" style="">
                                <h3>
                                    <img src="images/heart.png" alt=""> 
                                    <span>248</span>
                                </h3>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-md-1" style="text-align:right">
                            <h2>Q4:</h2>
                        </div>
                        <div class="col-xs-9">
                            <h3>实行资本运作、产业经营、价值管理并举，不断优化“6＋3”的产业战略体系，努力将集团打造成为国内领先的产业投资和金融创新发展平台。</h3>
                        </div>
                        <div class="col-xs-2" style="padding-left:5%" >
                            <div class="row" style="">
                                <h3>
                                    <img src="images/heart.png" alt=""> 
                                    <span>220</span>
                                </h3>
                            </div>
                        </div>
                    </li> 
                    <li class="row">
                        <div class="col-md-1" style="text-align:right">
                            <h2>Q5:</h2>
                        </div>
                        <div class="col-xs-9">
                            <h3>中远恒信将携手融钰集团在“产业发展+创新科技+金融服务”的基础之上，打造“产业大数据+创新金融服务”二大平台，</h3>
                        </div>
                        <div class="col-xs-2" style="padding-left:5%" >
                            <div class="row" style="">
                                <h3>
                                    <img src="images/heart.png" alt=""> 
                                    <span>122</span>
                                </h3>
                            </div>
                        </div>
                    </li> 
                    <li class="row">
                        <div class="col-md-1" style="text-align:right">
                            <h2>Q6:</h2>
                        </div>
                        <div class="col-xs-9" >
                            <h3>我爱中远！！！信赖中远！！！</h3>
                        </div>
                        <div class="col-xs-2" style="padding-left:5%" >
                            <div class="row" style="">
                                <h3>
                                    <img src="images/heart.png" alt=""> 
                                    <span>122</span>
                                </h3>
                            </div>
                        </div>
                    </li> 
                    <li class="row">
                        <div class="col-md-1" style="text-align:right">
                            <h2>Q7:</h2>
                        </div>
                        <div class="col-xs-9" >
                            <h3>我们的使命是通过产业投资促进社会繁荣发展。</h3>
                        </div>
                        <div class="col-xs-2" style="padding-left:5%" >
                            <div class="row" style="">
                                <h3>
                                    <img src="images/heart.png" alt=""> 
                                    <span>98</span>
                                </h3>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-md-1" style="text-align:right">
                            <h2>Q8:</h2>
                        </div>
                        <div class="col-xs-9" >
                            <h3>我们的愿景是打造中国领先的多元化产业投资与专业金融服务集团。</h3>
                        </div>
                        <div class="col-xs-2" style="padding-left:5%" >
                            <div class="row" style="">
                                <h3>
                                    <img src="images/heart.png" alt=""> 
                                    <span>68</span>
                                </h3>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-md-1" style="text-align:right">
                            <h2>Q9:</h2>
                        </div>
                        <div class="col-xs-9" >
                            <h3>横跨“大健康、文化、旅游、地产、科技、金融”六大产业于一体的大型民营企业集团。</h3>
                        </div>
                        <div class="col-xs-2" style="padding-left:5%" >
                            <div class="row" style="">
                                <h3>
                                    <img src="images/heart.png" alt=""> 
                                    <span>22</span>
                                </h3>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-md-1" style="text-align:right">
                            <h2>Q10:</h2>
                        </div>
                        <div class="col-xs-9" >
                            <h3>打造数据采集平台、数据分析平台、金融服务平台、为所有客户提供标准化、差异化、综合性的金融解决方案。</h3>
                        </div>
                        <div class="col-xs-2" style="padding-left:5%" >
                            <div class="row" style="">
                                <h3>
                                    <img src="images/heart.png" alt=""> 
                                    <span>20</span>
                                </h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
      </div>
  </body>
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <!-- <script src="js/index.js"></script> -->
</html>