html,
body {
  background: #fff;
}
section {
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 17.77777778rem;
}
.hidden {
  display: none;
}
.font10 {
  font-size: 10px;
}
[data-dpr="2"] .font10 {
  font-size: 20px;
}
[data-dpr="3"] .font10 {
  font-size: 30px;
}
.font12 {
  font-size: 12px;
}
[data-dpr="2"] .font12 {
  font-size: 24px;
}
[data-dpr="3"] .font12 {
  font-size: 36px;
}
.font14 {
  font-size: 14px;
}
[data-dpr="2"] .font14 {
  font-size: 28px;
}
[data-dpr="3"] .font14 {
  font-size: 42px;
}
.font16 {
  font-size: 16px;
}
[data-dpr="2"] .font16 {
  font-size: 32px;
}
[data-dpr="3"] .font16 {
  font-size: 48px;
}
.font20 {
  font-size: 20px;
}
[data-dpr="2"] .font20 {
  font-size: 40px;
}
[data-dpr="3"] .font20 {
  font-size: 60px;
}
.font24 {
  font-size: 24px;
}
[data-dpr="2"] .font24 {
  font-size: 48px;
}
[data-dpr="3"] .font24 {
  font-size: 72px;
}
.font28 {
  font-size: 28px;
}
[data-dpr="2"] .font28 {
  font-size: 56px;
}
[data-dpr="3"] .font28 {
  font-size: 84px;
}
.font30 {
  font-size: 30px;
}
[data-dpr="2"] .font30 {
  font-size: 60px;
}
[data-dpr="3"] .font30 {
  font-size: 90px;
}
.font36 {
  font-size: 36px;
}
[data-dpr="2"] .font36 {
  font-size: 72px;
}
[data-dpr="3"] .font36 {
  font-size: 108px;
}
.font40 {
  font-size: 40px;
}
[data-dpr="2"] .font40 {
  font-size: 80px;
}
[data-dpr="3"] .font40 {
  font-size: 120px;
}
section img.logo {
  position: absolute;
  top: 0.4rem;
  right: 0.48888889rem;
  left: auto;
  width: 1.33333333rem;
  height: 1.11111111rem;
}
section img.arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.77777778rem;
  margin: auto;
  width: 1.11111111rem;
  animation: updown .5s linear infinite alternate;
}
@keyframes updown {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}
.swiper-container,
.swiper-wrapper,
.swiper-slide {
  width: 10rem;
  height: 17.77777778rem;
}
.clap {
  background: url(../images/clap.jpg) no-repeat left top;
  background-size: 10rem 17.77777778rem;
}
.clap div {
  position: absolute;
  opacity: 0;
}
.clap .text1 {
  width: 6.04444444rem;
  height: 1.03333333rem;
  left: 0.4rem;
  top: 1.94444444rem;
  background: url(../images/clap_text1.png) no-repeat left top;
  background-size: cover;
}
.clap .text2 {
  width: 6.1rem;
  height: 1.44444444rem;
  left: 0.4rem;
  top: 3.34444444rem;
  background: url(../images/clap_text2.png) no-repeat left top;
  background-size: cover;
}
.clap .text3 {
  width: 6.1rem;
  height: 1.44444444rem;
  left: 1.97777778rem;
  top: 4.97777778rem;
  background: url(../images/clap_text3.png) no-repeat left top;
  background-size: cover;
}
.hook {
  background: url(../images/hook.jpg) no-repeat left top;
  background-size: 10rem 17.77777778rem;
}
.hook div {
  position: absolute;
  left: 0.33333333rem;
}
.hook .text1 {
  width: 3.4rem;
  height: 1.11111111rem;
  top: 0.75555556rem;
  background: url(../images/hook_text1.png) no-repeat left top;
  background-size: cover;
}
.hook .text2 {
  width: 6.48888889rem;
  height: 1.35555556rem;
  top: 1.88888889rem;
  background: url(../images/hook_text2.png) no-repeat left top;
  background-size: cover;
}
.hook .text3 {
  width: 3.4rem;
  height: 1.22222222rem;
  top: 3.48888889rem;
  background: url(../images/hook_text3.png) no-repeat center center;
  background-size: 100% 100%;
}
.hook .text4 {
  width: 6.48888889rem;
  height: 1.35555556rem;
  top: 4.75555556rem;
  background: url(../images/hook_text4.png) no-repeat left top;
  background-size: cover;
}
.flight {
  background: url(../images/flight.jpg) no-repeat left top;
  background-size: 10rem 17.77777778rem;
}
.flight div {
  position: absolute;
  left: 0.4rem;
}
.flight .text1 {
  width: 6.04444444rem;
  height: 1.03333333rem;
  background: url(../images/clap_text1.png) no-repeat left top;
  background-size: cover;
  top: 2.4rem;
}
.flight .text2 {
  width: 6.07777778rem;
  height: 1.45555556rem;
  background: url(../images/flight_text2.png) no-repeat left top;
  background-size: cover;
  top: 3.64444444rem;
}
.flight .text3 {
  width: 6.07777778rem;
  height: 1.45555556rem;
  background: url(../images/flight_text3.png) no-repeat left top;
  background-size: cover;
  top: 5.16666667rem;
}
.arms {
  background: url(../images/arms.jpg) no-repeat left top;
  background-size: 10rem 17.77777778rem;
}
.arms div {
  position: absolute;
  left: 0.4rem;
}
.arms .text1 {
  width: 4.22222222rem;
  height: 0.94444444rem;
  top: 3.48888889rem;
  background: url(../images/arms_text1.png) no-repeat left top;
  background-size: cover;
}
.arms .text2 {
  width: 3.26666667rem;
  height: 0.91111111rem;
  top: 4.66666667rem;
  background: url(../images/arms_text2.png) no-repeat left top;
  background-size: cover;
}
.arms .text3 {
  width: 5.31111111rem;
  height: 0.94444444rem;
  left: 3.83333333rem;
  top: 4.66666667rem;
  background: url(../images/arms_text3.png) no-repeat left top;
  background-size: cover;
}
.arms .text4 {
  width: 6.1rem;
  height: 1.46666667rem;
  top: 5.83333333rem;
  background: url(../images/arms_text4.png) no-repeat left top;
  background-size: cover;
}
.select {
  background: url(../images/bg.jpg) no-repeat left top;
  background-size: 10rem 17.77777778rem;
}
.select .title {
  position: absolute;
  top: 4.71111111rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 8.4rem;
  height: 2.23333333rem;
}
.select .btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.select .invite_btn {
  width: 3.81111111rem;
  height: 1.78888889rem;
  top: 7.84444444rem;
}
.select .bless_btn {
  width: 3.75555556rem;
  height: 2rem;
  top: 10.06666667rem;
}
.invite {
  background: url(../images/plan.jpg) no-repeat left top;
  background-size: 10rem 17.77777778rem;
  text-align: center;
}
.invite .return {
  position: absolute;
  bottom: 1.33333333rem;
  width: 2.66666667rem;
  height: 0.88888889rem;
  transform: translateX(-1.33333333rem);
}
.bless {
  background: url(../images/bg2.jpg) no-repeat left top;
  background-size: 10rem 17.77777778rem;
}
.bless form {
  position: relative;
  width: 10rem;
  height: 17.77777778rem;
}
.bless form .textarea_box {
  position: absolute;
  left: 0;
  right: 0;
  top: 2.71111111rem;
  margin: auto;
  width: 7.02222222rem;
  height: 9.15555556rem;
  background: url(../images/textarea_bg.png) no-repeat left top;
  background-size: cover;
}
.bless form .textarea_box textarea {
  position: absolute;
  left: 0.88888889rem;
  bottom: 0.55555556rem;
  width: 5.33333333rem;
  height: 1.66666667rem;
  background: transparent;
  font-weight: bold;
  color: #333;
  font-size: 14px;
  resize: none;
  border: none;
  outline: none;
}
[data-dpr="2"] .bless form .textarea_box textarea {
  font-size: 28px;
}
[data-dpr="3"] .bless form .textarea_box textarea {
  font-size: 42px;
}
.bless form .textarea_box .confirm {
  position: absolute;
  left: 0.11111111rem;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1.91111111rem;
  height: 0.47777778rem;
  background: url(../images/submit.png) no-repeat left top;
  background-size: cover;
}
.bless form .textarea_box .hand {
  position: absolute;
  left: 0.11111111rem;
  right: 0;
  bottom: -1.11111111rem;
  margin: auto;
  width: 0.88888889rem;
  animation: jump linear 1s infinite alternate;
}
@keyframes jump {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}
.bless form .popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}
.bless form .popup .pannel {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0.38888889rem;
  width: 8.27777778rem;
  height: 5.15555556rem;
  background: url(../images/pannel.png) no-repeat left top;
  background-size: cover;
  text-align: center;
}
.bless form .popup .pannel .phone {
  width: 4.97777778rem;
  height: 0.95555556rem;
  border: none;
  border-radius: 0.22222222rem;
  text-align: center;
  color: #b32013;
  font-weight: bold;
  background: transparent;
  font-size: 20px;
  opacity: 0.8;
}
[data-dpr="2"] .bless form .popup .pannel .phone {
  font-size: 40px;
}
[data-dpr="3"] .bless form .popup .pannel .phone {
  font-size: 60px;
}
.bless form .popup .pannel .tips {
  width: 4.11111111rem;
  margin: 0.11111111rem auto 0.33333333rem;
  text-align: left;
  color: #fff;
}
.bless form .popup .pannel .submit {
  position: absolute;
  display: block;
  bottom: 1.81111111rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 3.21111111rem;
  height: 0.76666667rem;
  background: url(../images/ok.png) no-repeat left top;
  background-size: cover;
  border: none;
  border-radius: 0.22222222rem;
  outline: none;
}
.bless form .popup .pannel .reset {
  position: absolute;
  bottom: 0.77777778rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 3.21111111rem;
  height: 0.76666667rem;
  background: url(../images/rest.png) no-repeat left top;
  background-size: cover;
  border: none;
}
.bless form .loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 666;
  width: 1.11111111rem;
  animation: rotate linear 2s infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
