html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100% 100%;
}

section {
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -8.13333rem;
  width: 10rem;
  height: 16.26667rem;
}

.hide {
  display: none;
}

@keyframes breathing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.breathing {
  animation: breathing 0.5s linear alternate infinite;
}

.page6 .rank_frame {
  position: relative;
  overflow: hidden;
  width: 9.05333rem;
  height: 15.01333rem;
  margin: 0.62667rem auto 0;
  background: url("../images/rank_frame.png") no-repeat;
  background-size: 100% 100%;
}

.page6 .rank_frame .myInfo {
  margin-left: -0.66667rem;
  margin-top: 1.6rem;
  text-align: center;
}

.page6 .rank_frame .myInfo .avatar {
  margin-right: 0.13333rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.page6 .rank_frame .myInfo span {
  display: inline-block;
  height: 0.8rem;
  line-height: 0.8rem;
  vertical-align: top;
  font-size: 0.33333rem;
  color: #fff;
}

.page6 .rank_frame .rank {
  overflow: scroll;
  position: absolute;
  top: 3.30667rem;
  left: 0.85333rem;
  width: 7.41333rem;
  height: 9.54667rem;
  color: #fff;
}

.page6 .rank_frame .rank li {
  display: flex;
  flex-direction: row;
  padding: 0.16rem 0.42667rem 0.16rem 0.64rem;
  height: 1.25333rem;
}

.page6 .rank_frame .rank li .avatar {
  overflow: hidden;
  box-sizing: border-box;
  flex: 0 0 1.2rem;
  margin-top: 0.12rem;
}

.page6 .rank_frame .rank li .avatar img {
  width: 1.02667rem;
  height: 1.02667rem;
  border-radius: 50%;
}

.page6 .rank_frame .rank li .info {
  position: relative;
  flex: 0 0 2.05333rem;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.26667rem;
}

.page6 .rank_frame .rank li .info span {
  overflow: hidden;
  position: absolute;
  height: 0.4rem;
  top: 0.24rem;
}

.page6 .rank_frame .rank li .info time {
  position: absolute;
  top: 0.66667rem;
}

.page6 .rank_frame .rank li .score {
  box-sizing: border-box;
  flex: 0 0 1.8rem;
  padding: 0 0.13333rem;
  font-size: 0.26667rem;
}

.page6 .rank_frame .rank li .score div {
  margin-top: 0.33333rem;
  width: 100%;
  height: 0.56rem;
  line-height: 0.56rem;
  background: linear-gradient(to right, #08539f, #1a1666);
  text-align: center;
  border-radius: 0.26667rem;
}

.page6 .rank_frame .rank li .ranking {
  flex: 0 0 1.33333rem;
}

.page6 .rank_frame .rank li .ranking img {
  margin-top: 0.13333rem;
  margin-left: 0.18667rem;
  width: 0.98667rem;
  height: 0.90667rem;
}

.page6 .rank_frame .rank li .ranking span {
  display: block;
  width: 0.61333rem;
  height: 0.61333rem;
  line-height: 0.61333rem;
  margin-top: 0.24rem;
  margin-left: 0.33333rem;
  text-align: center;
  color: #ff00ff;
  font-size: 0.4rem;
  border: 2px solid #ff00ff;
  border-radius: 50%;
}

.page6 .btn_index {
  position: absolute;
  left: 50%;
  top: 13.73333rem;
  transform: translate3d(-50%, 0, 0);
  z-index: 10;
  width: 2.4rem;
  height: 0.53333rem;
  background: url("../images/btn_index.png") no-repeat;
  background-size: 100% 100%;
}
