/*通用样式*/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "方正正黑简体";
    src: url("../fonts/方正正黑简体.TTF");
}

img {
    display: block;
}

canvas {
    position: absolute;
    z-index: -10;
}

.content {
    width: 640px;
    height: 1038px;
}

.page {
    position: absolute;
    width: 640px;
    height: 1038px;
    z-index: 1000;
}

.hidden {
    display: none;
}

/*frame*/
.frame .bold {
    margin: 20px 0 0 20px;
    width: 590px;
    height: 990px;
    border: 6px solid #58bc0e;
}

.frame .light {
    margin: 4px 0 0 4px;
    width: 574px;
    height: 974px;
    border: 4px solid #58bc0e;
}

.frame .light img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 24px;
}

/*.frame .light{
	margin: 4px 0 0 4px;
	width: 574px;
	height: 974px;
	border: 4px solid #57bc0d;
}*/

.page2, .page3 {
    position: absolute;
    width: 640px;
    height: 1038px;
    top: 0;
    z-index: 2000;

}

.page2 img, .page3 img {
    position: absolute;
    top: 330px;
    left: 107px;

    margin: auto;
    width: 435px;
}

.page3 img {
    width: 600px;
    top: 194px;
    left: 2px;
    /*height: 400p;*/
}

.page1 {
    position: absolute;
    width: 640px;
    height: 1038px;
    background: url(../images/bg.png) no-repeat center center;
}

.page1 .leaf {
    position: absolute;
    left: 178px;
    top: 230px;
    z-index: 10;
}

.page1 .leaf2 {
    position: absolute;
    width: 100px;
    left: -100px;
    top: 900px;
}

.page1 .leaf3 {
    position: absolute;
    width: 100px;
    left: 660px;
    top: 1000px;
    z-index: 20;
}

.page1 .text, .page1 .textBtn {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.page1 .text {
    top: 774px;
}

.page1 .textBtn {
    top: 862px;
    width: 318px;
}

a, a:link {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    color: inherit; /*禁止用户iPhone打开新页面*/
}